mathparse
python-dateutil
sqlalchemy>=1.4.20
pytz
spacy>=3.4.1
git+git://github.com/gunthercox/chatterbot-corpus@master#egg=chatterbot_corpus
# this requirement for typer should be ditched once spacy stop supporting or red change and take in account installed lib version to install cogs deps
typer>=0.4.0,<0.5.0