name: "Django"

on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]

jobs:
  analyze:
    name: Django
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'python' ]
        python-version: [ "3.7", "3.8", "3.9"]

    

    steps:
    - name: Python Versions
      if: "!endsWith(matrix.python-version, '-dev')"
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Clone Repository
      run: |
        git clone https://github.com/batman202012/ChatterBot/
        cd ./ChatterBot

    - name: Install dependencies
      run: |
        cd ./ChatterBot
        pip install django
        pip install pytz
        pip install python-dateutil
        pip install mathparse
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        python -m spacy[cuda117] download en_core_web_sm
        python -m spacy[cuda117] download en_core_web_md
        python -m spacy[cuda117] download en_core_web_lg
        python -m spacy[cuda117] download en_core_web_trf
    
    - name: Run Tests
      run: |
        cd ./ChatterBot
        python runtests.py test