name: "CodeQL"

on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]

jobs:
  analyze:
    - name: Django
        runs-on: self-hosted
        permissions:
        actions: read
        contents: read
        security-events: write
    
    - name: Run Tests
        run: |
        ./runtests.py